
*, ::after,::before{
    box-sizing: border-box;
}
a {
text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    background-color: #FFFFFF;
    
    font-family:Roboto,sans-serif;
    
    margin: 0 auto;

   


}
.section-our-com{
    margin-top: 0px;
    margin-bottom: 50px;
}
.container{
   width: 1200px;
    margin:0 auto;
    padding: 0px 15px 94px 15px;

}
.container-one{
    align-items: center;
    display: flex;
width: 1200px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    
  
.section-woman-and-man p{ 
   
    font-size: 16px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
  letter-spacing: 0.03em;
  

}

 

.team-card{
    
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
   
    }
    .what-we-are-doing{
        display: flex;
  
    
    }


.what-we-are-doing li:not(:last-child){
margin-right: 30px;
}
.plan-b li{
    margin-right: 30px;
    
}
    
    .plan-b li :not(:last-child){
        padding-right: 30px;
        }
   
      .team-card-one{
          color: #212121;
          font-size: 16px;
          line-height:1.17 ;
          font-weight: 500;
       text-transform: uppercase;
        letter-spacing: 0.03em;
    margin-top: 0px;
    padding: 0;
    
    }
        .team-card-one-igor{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           text-align: center;
          letter-spacing: 0.03em; 
          padding-left:40px ;
          margin-top:30px ;
          
          font-family:Roboto,sans-serif
        }
        .team-card-olga{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           
          letter-spacing: 0.03em; 
          text-align: center;
          margin-bottom:10px ;
          margin-top: 30px;
          font-family:Roboto,sans-serif

        }
        .team-card-tarasov{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           
          letter-spacing:0.03em; 
          text-align: center;
          margin-top:30px ;
          margin-bottom:10px ;
         padding-left: 57px;
          font-family:Roboto,sans-serif
        }
        .team-card-ermakov{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
            
          letter-spacing:0.03em; 
          text-align: center;
          margin-top:30px ;
          margin-bottom:10px ;
         
          font-family:Roboto,sans-serif  
        }
       
      
        .designer-cool{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
            
          letter-spacing: 0.03em; 
          padding:10px 0 0  70px  ;
         
         
          font-family:Roboto,sans-serif 

        }
        .designer-cool-olga{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
           
          letter-spacing: 0.03em; 
         
          padding-left: 62px;
         
         padding-top: 10px;
          font-family:Roboto,sans-serif 

        }
        .designer-cool-tarasov{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
            
          letter-spacing: 0.03em; 
          
          padding-left:97px ;
          
         padding-top: 10px;
          font-family:Roboto,sans-serif 

        }
      
        .designer-cool-ermakov{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
            
          letter-spacing: 0.03em; 
         padding-left: 92px;
          padding-top: 10px;
          
          
          font-family:Roboto,sans-serif 

        }
          .logo-header-two{
            color: #212121 ;
            font-size: 26px;
            line-height:1.17 ;
            font-weight: 700;
            font-family:Raleway,sans-serif ;
           
           padding-left: 15px;
           letter-spacing: 0.03em;
        }
       
        
.page-header{
    display: flex;
    border-bottom: 1px solid #ECECEC ;
    height: 80px;
    
            
            
}
       

        
      .logo-first{
          color:#2196F3;
          font-size: 26px;
          line-height:1.17 ;
          font-weight: 700;
          font-family:Raleway,sans-serif ;
          text-decoration: none; 
          letter-spacing: 0.03em;
          
        }
      
          .logo-header{
        color:#FFFFFF ;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,sans-serif ;
        
        letter-spacing: 0.03em;
}

    .team-card-two:hover{
        color:dodgerblue;
        
    }
    .team-card-two:focus{
        color:dodgerblue;
        
    }
    .logo-header-two:hover{
        color:dodgerblue;
        
    }
    .logo-header-two:focus{
        color:dodgerblue;}
        
        .e-mail:hover{
            color:dodgerblue;
            
        }
       
            
            
            
   .mail-one{
       
       padding-bottom: 9px;
   }
   .e-mail{
    color: #757575;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-family:Roboto,sans-serif ;
    
   }
            
       
      

        
                
                   .maximum-size {
                    color: rgb(255,255,255,0.6);
                    font-size: 14px;
                    line-height:1.71 ;
                    font-weight: 400;
                    
                    letter-spacing: 0.03em;
                    
                   }
  




.street-one
{ color:#FFFFFF;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.03em;
   
}

.item-one 
{
    display: flex;
 margin-left: 93px;
}
.item-one .item{

margin-right: 50px;  


 }

 .item-one .item:last-child{
     margin-right: 0px;
 }
 .container-portfolio-two li{
     display: flex;
     margin-left: auto;
     
     
    
 }
 .container-portfolio-two .item + .item{
     
     margin-right: auto;
 }
nav{
    display: flex;
    align-items: center;
}
.team-card-two
.e-mail{
    display:block;
}



.team-card-two {
    
    color: #212121;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    .logo-first-two{
        color:#2196F3;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,serif ;
        letter-spacing: 0.03em;
        text-decoration: none;}
        footer{
            background-color: #2F303A;
            
            
        }
     
        .hot-button  {
            display: inline-block;
            
          
        
            background-color:#2196f3;
            color: #FFFFFF;
            font-size: 16px;
    line-height:1.87 ;
    font-weight: 700;
    letter-spacing: 0.06em;
    height: 50px;
    border: transparent;
    padding:6px 22px ;
    text-decoration:none;
    text-align: center;
border-radius: 4px;


}





 
    .container-hero{
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .twenty-two-section{
        box-sizing: border-box;
       
      
       color: #FFFFFF;
       background-color:#3a3a3d;
       text-align: center;
       padding-top:200px ;
       padding-bottom:200px;


}
      
       .decid-my-win{
           text-transform: uppercase;
           color: #FFFFFF;
 
 font-size: 44px;
          line-height:1.17 ;
          font-weight: 900;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.06em;
       margin-top: 0px;
          



    }
 
   
     
    
    
    
    .section-team-twenty-one{

        
        padding-top: 94px;
  
    padding-top:  186px;
   padding-right: 215px;
   padding-bottom:  94px;
   padding-left:  215px;
   
       
    }



    



.container{
  width: 1200px;
    margin: 0px auto ;
    padding: 0px 15px 0px 15px ;
}





.container-normal{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 94px;
    padding-bottom: 50px;


}
ul .item{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.02em;
         
}
li .team-card-one{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
          
         
}

.item p{
    color: #757575;
    font-size: 14px;
          line-height:1.71 ;
          font-weight: 400;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
}
li{
    list-style: none;
}
.word-our-com {
    color: #212121;
    font-size: 36px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
         
          text-align: center;
         padding-top: 94px;
          padding-bottom: 54px;

}

.button-two{
    color: #212121;
    font-size: 16px;
          line-height:1.62 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
          background-color:#F5F4FA;
border: none;
padding: 6px 22px;
border-radius: 4px;

          
}

ul .time-class{
    color: #212121;
    font-size: 18px;
          line-height:2.0;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          
          letter-spacing: 0.06em;
          padding-left: 24px;
         
          padding-top: 20px;
          }
ul.web-site{
    
        
    padding-top: 4px;
        
        margin: 0;

}
.web-site{
    color: #757575;
    font-size: 16px;
    padding-left:24px ;
          line-height:1.87;
          font-weight: 400;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
          padding-bottom: 20px;
        text-decoration: none;}
.section-team-card-one{
    padding: 94px 0;
    padding-bottom: 94px;
    
}
.section-our-work{
   margin-top: 0px;
   padding-bottom: 94px;
}
.section-woman-and-man{
   
    background-color: #F5F4FA;
    

    padding-bottom: 94px;
   
    
    
    
}







.section-our-com{
    margin-top: 0px;
    text-align: center;
    color: rgba(33, 33, 33, 1);

    font-size: 36px;
          line-height:1.62 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          
          letter-spacing: 0.03em;

}



.plan-b {
    display: flex;
}
.plan-b li:not(:last-child){
    margin-right: 30px;}
    
    
    .portfolio-work{
        display: flex;
        flex-wrap: wrap;

        
        
    }
.container-footer-two{
    display: flex;
    flex-direction: column;
    padding-left:15px;
    width: 1200px;
    
}
footer .logo-header{
    display:inline-block;
    padding-top:60px ;
    padding-bottom: 20px;
    padding-left: 15px;
}
.contacts-two {
    padding-bottom: 60px;
    padding-left: 15px;
   



}
.button-marketing {
    display: flex;
    }
    .button-marketing li{
        display:inline-block;
        border-radius:4px ;
        margin-right: 8px;

    }
   
.cinderella-one{
    margin-right: 30px;
    width: 370px;
    margin-bottom: 30px;
    
    border: 1px rgba(238,238, 238, 1);
}


.container-portfolio{
   width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
    
    text-decoration: none;
}
.cinderella-one:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.container-portfolio-komanda{
    margin-left: auto;
    margin-right: auto;
}

.cinderella-one {
    border:1px solid rgba(238, 238,238, 1) ;
    
   
  
}
.cinderella-one:nth-child(3n) {
    margin-right: -15px;
}      
 
.color-life{
    background-color: #FFFFFF;
    width: 270px;
    margin-top: 0px;
   
    
}
.section-woman-and-man .color-life{
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}
footer a:hover{
    color:dodgerblue;

}
footer a:focus{
    color:dodgerblue;
}
.container-portfolio-two{
    display: flex;
    margin-left: auto;
    
}

.container-footer{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
}

.container-portfolio-komanda{
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    
}
.container-portfolio-two li{
margin-right: 50px;
}
.hot-button:hover{
    background-color: #188CE8
}

.button-five :hover{
    background-color: #188CE8;
}
.button-two:hover{
    background-color: #188CE8
}
    .team-card :not(:last-child){
        margin-right: 30px;
    }
   
    .button-two :hover{
       color: #FFFFFF;
        background-color:#188CE8 ;}
        .button-five{
            width: 73px;
            height: 38px;
            color: #212121;
    font-size: 16px;
          line-height:1.62 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 0.03em;
          background-color:#F5F4FA;
border: none;
padding: 6px 22px;
border-radius: 4px;
        }
        .button-marketing :hover{
            color: #FFFFFF;}
.cinderella-one:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}
  .twenty-two-section{
    background-image:linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)),
    url("../img/Img\ фон.jpg") ;
    }

 .icon-team{
     margin-left: auto;
     margin-right: auto;

 }
 .cool-card::before{
     display: block;
     content: "";
     background-size: contain;
     height:120px ;
  
     background-color: rgba(245, 244, 250, 1);
     
 }
 
 .company-client h1{
     text-align: center;
     margin-top: 94px;
 }
 
     
 
 .section-life{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 94px;
    padding-top: 94px;

 }
 
.button-icon-instagrams{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0;
}

.insta-action button{
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
}
.insta-action{
    display: flex;
    padding-top: 16px;
    padding-bottom: 30px;
    list-style: none;
    
}
.icon-matter{
    display: flex;
    justify-content: center;
    list-style: none;
padding-bottom: 94px;
padding-top: 50px;
}
.miracle-day button{
    display: block;
    width: 170px;
    height: 92px;
   padding: 0;
   color: #FFFFFF;
    border-radius: 1px  rgba(175, 177, 184, 1);
    border: none;
}
.miracle-day :hover{
    fill:#2196f3; 
}
.icon-logo{
    fill: #acb2ca;
    border: none;
    
    
    padding: 0px;
}
.icon-logo:hover{
    fill:#2196f3;
}
.icon-matter li {
    margin-right: 30px;
    }
    .icon-matter:hover{
        fill: #188CE8;
    }
    .icon-sign{
        fill: #acb2ca;

    }
    .icon-sign :hover{
        fill: #F5F4FA;
    }
    button.button-icon-instagrams :hover{
        background-color: #188CE8;
    }